@model TrazaNet.DataLayer.DENIERRED

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DENIERRED</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMDENIER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMDENIER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCDENIER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCDENIER)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDDENIERRED }) |
    @Html.ActionLink("Back to List", "Index")
</p>
