@model TrazaNet.DataLayer.FIGURARED

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FIGURARED</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMFIGURA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMFIGURA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCFIGURA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCFIGURA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDFIGURA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
