@model TrazaNet.DataLayer.FUNCIONRED

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FUNCIONRED</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMFUNCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMFUNCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCFUNCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCFUNCION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDFUNCIONRED }) |
    @Html.ActionLink("Back to List", "Index")
</p>
