@model TrazaNet.DataLayer.MEDIDARED

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MEDIDARED</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMMEDIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMMEDIDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCMEDIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCMEDIDA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDMEDIDARED }) |
    @Html.ActionLink("Back to List", "Index")
</p>
