@model TrazaNet.DataLayer.ABERTURARED

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ABERTURARED</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMABERTURA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMABERTURA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCABERTURA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCABERTURA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDABERTURARED }) |
    @Html.ActionLink("Back to List", "Index")
</p>
